.caseContainer {
  max-width: 90%;
  margin: auto;
  text-align: center;
}

hr.style2 {
  border-top: 3px double #a3a7a6;
}

li {
  list-style-type: none;

}
li:nth-child(even) {
  background-color: #bebebe;
}

.caseContainer {
  border-style: double;
  background-color: #ddd8df;
  h4:nth-child(even) {
    background-color: #bebebe;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
}

.contact {
  color: blue;
}

ul {
  padding-inline-start: 0px;

}

.caseContactsContainer {
  background-color: #ddd8df;
}

.clientLI{
margin-top: 5px;
}

