.caseContainer {
  max-width: 90%;
  margin: auto;
  margin-top: 10%;
  text-align: center;
}

.caseFormContainer {
  float: left;
  width: 33%;
}

.caseClientContainer {
  float: left;
  width: 33%;
}

.caseContactsContainer {
  float: right;
  width: 33%;
}


